.content {
  padding-top: 3.5rem;
}

.vacancy-menu-container {
  text-align: center;
}

.vacancy-title {
  font-family: GilroyEB;
  font-size: pxToRem(14px);
  color: #b39c72;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.vacancy-menu {
  margin-top: 1rem;

}

.vacancy-menu__item {
  font-family: GilroyEB;
  font-size: pxToRem(14px);
  color: #8d8d8d;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.vacancy-menu__count {
  font-family: GilroyL;
  font-size: pxToRem(10px);
  color: #8d8d8d;
  margin-left: .5rem;
}
