.content {
	padding-top: 3.5rem;
	margin-bottom: 5rem;
}

.vacancy-menu-container {
	text-align: center;
	margin-bottom: 2.65rem;
}

.vacancy-title {
	position: relative;
	font-family: GilroyEB;
	font-size: pxToRem(14px);
	color: #8d8d8d;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding-right: 1.2rem;
	cursor: pointer;
	&::before {
		display: block;
		content: url('img/menu-arrow.png');
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-60%);
	}
}

.vacancy-menu {
	margin-top: 1rem;
}

.vacancy-menu__item {
	font-family: GilroyEB;
	font-size: pxToRem(14px);
	color: #8d8d8d;
	text-transform: uppercase;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.vacancy-menu__count {
	font-family: GilroyL;
	font-size: pxToRem(10px);
	color: #8d8d8d;
	margin-left: 0.5rem;
}

.vacancy__block {
	margin-bottom: 1.3rem;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.vacancy__block p:first-child {
	font-family: GilroyL;
	font-size: pxToRem(10px);
	text-align: center;
	color: #a3a3a3;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	margin-bottom: 0.4rem;
}

.vacancy__block p:last-child {
	font-family: GilroyEB;
	font-size: pxToRem(18px);
	text-align: center;
	line-height: 1.3;
	letter-spacing: 0.3px;
	&:hover {
		transition: all 0.3s linear;
		color: #1c54e9;
	}
}

.vacancy__container {
	display: none;
	margin-bottom: 1.3rem;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.vacancy__btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.5rem;
}

.vacancy__more-btn {
	width: 18.1rem;
	font-family: GilroyEB;
	font-size: pxToRem(14px);
	text-transform: uppercase;
	text-align: center;
	border: none;
	outline: none;
	background-color: #222;
	color: #fff;
	padding: 0.9rem 0;
	letter-spacing: 1.8px;
	border-radius: 2px;
}

@media (max-width: 1199px) {
	.left-bar-img-container {
		display: none;
	}

	.left-bar-description {
		display: none;
	}
}

@media (min-width: 768px) {
	.content {
		padding-top: 4.1rem;
	}

	.vacancy__more-btn {
		width: 20rem;
	}
}

@media (min-width: 1200px) {
	.vacancy-menu-container {
		text-align: left;
		border-right: 1px solid #ccc;
		margin-bottom: 0;
	}

	.vacancy-menu__item {
		justify-content: space-between;
	}

	.vacancy-title {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		letter-spacing: 0.6px;
		padding-right: 1.8rem;
		&::before {
			display: none;
		}
	}

	.content {
		padding-top: 8.5rem;
		margin-bottom: 8.5rem;
	}

	.vacancy-menu {
		margin-top: 0.9rem;
		margin-bottom: 3.5rem;
	}

	.vacancy-menu__item {
		margin-bottom: 0.8rem;
		padding-right: 1.9rem;
	}

	.left-bar-img-container {
		margin-bottom: 3.4rem;
	}

	.left-bar-img {
		display: block;
	}

	.left-bar-description {
		padding-right: 6rem;
	}

	.description__paragraph {
		font-family: GilroyL;
		font-size: pxToRem(14px);
		color: #9f9f9f;
		margin-bottom: 0.8rem;
	}

	.description__email {
		font-family: GilroyEB;
		font-size: pxToRem(14px);
	}

	.vacancy__block p:first-child {
		text-align: left;
	}

	.vacancy__block p:last-child {
		text-align: left;
	}

	.all-vacancy-container {
		padding-top: 0.1rem;
		padding-left: 6.1rem;
	}

	.vacancy__btn-container {
		justify-content: flex-start;
		margin-top: 2rem;
	}

	.vacancy__more-btn {
		cursor: pointer;
		&:hover {
			transition: all 0.3s linear;
			background-color: #1c54e9;
		}
	}

	.vacancy-menu__item span:first-of-type {
		cursor: pointer;
		&:hover {
			transition: all 0.3s linear;
			color: #2b4b8d;
		}
	}
}

.active {
  color: #b39c72;
}

.vacancy__tab.active:hover {
  color: #b39c72!important;
}

.active-content {
	display: block;
}
